<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>my Music PlayList</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{~/public/img/favicon.ico}">


    <!-- DEMO CHARTS -->
    <link rel="stylesheet" th:href="@{~/public/demo/chartist.css}">
    <link rel="stylesheet" th:href="@{~/public/demo/chartist-plugin-tooltip.css}">

    <!-- Template -->
    <link rel="stylesheet" th:href="@{~/public/graindashboard/css/graindashboard.css}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!-- YOUTUBE API-->
    <script src="https://www.youtube.com/player_api"></script>
    <script th:src="@{~/public/js/ajaxUtil.js}"></script>
</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
    <!-- Header -->
    <header class="header bg-body">
        <nav class="navbar flex-nowrap p-0">
            <div class="navbar-brand-wrapper d-flex align-items-center col-auto">
                <!-- Logo For Mobile View -->
                <a class="navbar-brand navbar-brand-mobile" href="/">
                    <img class="img-fluid w-100" th:src="@{~/public/img/logo-mini.png}" alt="Graindashboard">
                </a>
                <!-- End Logo For Mobile View -->

                <!-- Logo For Desktop View -->
                <a class="navbar-brand navbar-brand-desktop" href="/">
                    <img class="side-nav-show-on-closed" th:src="@{~/public/img/logo-mini.png}" alt="Graindashboard"
                        style="width: auto; height: 33px;">
                    <!--메인 이미지 -->
                    <img class="side-nav-hide-on-closed" th:src="@{~/public/img/music_icon.png}" alt="Graindashboard"
                        style="width: auto; height: 33px;">
                </a>
                <!-- End Logo For Desktop View -->
            </div>

            <div class="header-content col px-md-3">
                <div class="d-flex align-items-center">
                    <!-- Side Nav Toggle -->
                    <a class="js-side-nav header-invoker d-flex mr-md-2" href="#" data-close-invoker="#sidebarClose"
                        data-target="#sidebar" data-target-wrapper="body">
                        <i class="gd-align-left"></i>
                    </a>
                    <!-- End Side Nav Toggle -->

                    <!-- User Notifications -->
                    <div class="dropdown ml-auto">
                        <a id="notificationsInvoker" class="header-invoker" href="#" aria-controls="notifications"
                            aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
                            data-unfold-target="#notifications" data-unfold-type="css-animation"
                            data-unfold-duration="300" data-unfold-animation-in="fadeIn"
                            data-unfold-animation-out="fadeOut">
                            <span
                                class="indicator indicator-bordered indicator-top-right indicator-primary rounded-circle"></span>
                            <i class="gd-bell"></i>
                        </a>

                        <div id="notifications"
                            class="dropdown-menu dropdown-menu-center py-0 mt-4 w-18_75rem w-md-22_5rem unfold-css-animation unfold-hidden"
                            aria-labelledby="notificationsInvoker" style="animation-duration: 300ms;">
                            <div class="card">
                                <div class="card-header d-flex align-items-center border-bottom py-3">
                                    <h5 class="mb-0">Notifications</h5>
                                    <a class="link small ml-auto" href="#">Clear All</a>
                                </div>

                                <div class="card-body p-0">
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item list-group-item-action">
                                            <div class="d-flex align-items-center text-nowrap mb-2">
                                                <i class="gd-info-alt icon-text text-primary mr-2"></i>
                                                <h6 class="font-weight-semi-bold mb-0">New Update</h6>
                                                <span class="list-group-item-date text-muted ml-auto">just now</span>
                                            </div>
                                            <p class="mb-0">
                                                Order <strong>#10000</strong> has been updated.
                                            </p>
                                            <a class="list-group-item-closer text-muted" href="#"><i
                                                    class="gd-close"></i></a>
                                        </div>
                                        <div class="list-group-item list-group-item-action">
                                            <div class="d-flex align-items-center text-nowrap mb-2">
                                                <i class="gd-info-alt icon-text text-primary mr-2"></i>
                                                <h6 class="font-weight-semi-bold mb-0">New Update</h6>
                                                <span class="list-group-item-date text-muted ml-auto">just now</span>
                                            </div>
                                            <p class="mb-0">
                                                Order <strong>#10001</strong> has been updated.
                                            </p>
                                            <a class="list-group-item-closer text-muted" href="#"><i
                                                    class="gd-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End User Notifications -->
                    <!-- User Avatar -->
                    <div class="dropdown mx-3 dropdown ml-2">
                        <a id="profileMenuInvoker" class="header-complex-invoker" href="#" aria-controls="profileMenu"
                            aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
                            data-unfold-target="#profileMenu" data-unfold-type="css-animation"
                            data-unfold-duration="300" data-unfold-animation-in="fadeIn"
                            data-unfold-animation-out="fadeOut">
                            <!--img class="avatar rounded-circle mr-md-2" src="#" alt="John Doe"-->
                            <span class="mr-md-2 avatar-placeholder">J</span>
                            <span class="d-none d-md-block">John Doe</span>
                            <i class="gd-angle-down d-none d-md-block ml-2"></i>
                        </a>

                        <ul id="profileMenu"
                            class="unfold unfold-user unfold-light unfold-top unfold-centered position-absolute pt-2 pb-1 mt-4 unfold-css-animation unfold-hidden fadeOut"
                            aria-labelledby="profileMenuInvoker" style="animation-duration: 300ms;">
                            <li class="unfold-item">
                                <a class="unfold-link d-flex align-items-center text-nowrap" href="#">
                                    <span class="unfold-item-icon mr-3">
                                        <i class="gd-user"></i>
                                    </span>
                                    My Profile
                                </a>
                            </li>
                            <li class="unfold-item unfold-item-has-divider">
                                <a class="unfold-link d-flex align-items-center text-nowrap" href="#">
                                    <span class="unfold-item-icon mr-3">
                                        <i class="gd-power-off"></i>
                                    </span>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End User Avatar -->
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header -->

    <main class="main">
        <!-- Sidebar Nav -->
        <aside id="sidebar" class="js-custom-scroll side-nav">
            <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
                <!-- Title -->
                <li class="sidebar-heading h6">Music</li>
                <!-- End Title -->

                <!-- Dashboard -->
                <li class="side-nav-menu-item active">
                    <a class="side-nav-menu-link media align-items-center" href="/">
                        <span class="side-nav-menu-icon d-flex mr-3">
                            <i class="gd-dashboard"></i>
                        </span>
                        <span class="side-nav-fadeout-on-closed media-body">MY PLAYLIST</span>
                    </a>
                </li>
                <!-- End Dashboard -->

                <!-- End Documentation -->

                <!-- Title -->
                <li class="sidebar-heading h6">taste</li>
                <!-- End Title -->

                <!-- Users -->
                <li class="side-nav-menu-item side-nav-has-menu">
                    <a class="side-nav-menu-link media align-items-center" href="#" data-target="#subUsers">
                        <span class="side-nav-menu-icon d-flex mr-3">
                            <i class="gd-user"></i>
                        </span>
                        <span class="side-nav-fadeout-on-closed media-body">Top 100</span>
                        <span class="side-nav-control-icon d-flex">
                            <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
                        </span>
                        <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                    </a>

                    <!-- Users: subUsers -->
                    <ul id="subUsers" class="side-nav-menu side-nav-menu-second-level mb-0">
                        <li class="side-nav-menu-item">
                            <a class="side-nav-menu-link" href="users.html">내 정보 수정</a>
                        </li>
                        <!-- <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="user-edit.html">Add new</a>
                    </li> -->
                    </ul>
                    <!-- End Users: subUsers -->
                </li>
                <!-- End Users -->

                <!-- Authentication -->
                <li class="side-nav-menu-item side-nav-has-menu">
                    <a class="side-nav-menu-link media align-items-center" href="#" data-target="#subPages">
                        <span class="side-nav-menu-icon d-flex mr-3">
                            <i class="gd-file"></i>
                        </span>
                        <span class="side-nav-fadeout-on-closed media-body">Top 100</span>
                        <span class="side-nav-control-icon d-flex">
                            <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
                        </span>
                        <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                    </a>

                    <!-- Pages: subPages -->
                    <ul id="subPages" class="side-nav-menu side-nav-menu-second-level mb-0">
                        <li class="side-nav-menu-item">
                            <a class="side-nav-menu-link" href="login.html">실시간</a>
                        </li>
                        <li class="side-nav-menu-item">
                            <a class="side-nav-menu-link" href="register.html">일간</a>
                        </li>
                        <li class="side-nav-menu-item">
                            <a class="side-nav-menu-link" href="password-reset.html">주간</a>
                        </li>
                        <li class="side-nav-menu-item">
                            <a class="side-nav-menu-link" href="password-reset-2.html">월간</a>
                        </li>
                    </ul>
                    <!-- End Pages: subPages -->
                </li>
                <!-- End Authentication -->

                <!--             
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="settings.html">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-settings"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Settings</span>
                </a>
            </li>
  

    
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="static-non-auth.html">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-file"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Static page</span>
                </a>
            </li> -->
                <!-- End Static -->

            </ul>
        </aside>
        <!-- End Sidebar Nav -->

        <div class="content">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
                    <div class="card mb-3 mb-md-4">
                        <div class="card-header">
                            <h5 class="font-weight-semi-bold mb-0">Top 100</h5>
                        </div>

                        <div class="card-body pt-0">
                            <div class="table-responsive-xl">
                                <table class="table text-nowrap mb-0">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-semi-bold border-top-0 py-2">song</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="py-3" id="topList"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
                    <div id="player"></div>
                    <div class="card mb-3 mb-md-4">
                        <div class="card-header">
                            <h5 class="font-weight-semi-bold mb-0">Top 100</h5>
                        </div>

                        <div class="card-body pt-0">
                            <div class="table-responsive-xl">
                                <table class="table text-nowrap mb-0">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-semi-bold border-top-0 py-2">song</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="py-3" id="myList"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="small p-3 px-md-4 mt-auto">
                <div class="row justify-content-between">
                    <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
                        <ul class="list-dot list-inline mb-0">
                            <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark"
                                    href="#">FAQ</a></li>
                            <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Support</a>
                            </li>
                            <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Contact
                                    us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg text-center mb-3 mb-lg-0">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i
                                        class="gd-twitter-alt"></i></a></li>
                            <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i
                                        class="gd-facebook"></i></a></li>
                            <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i
                                        class="gd-github"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-lg text-center text-lg-right">
                        &copy; 2019 Graindashboard. All Rights Reserved.
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </main>


    <script th:src="@{~/public/graindashboard/js/graindashboard.js}"></script>
    <script th:src="@{~/public/graindashboard/js/graindashboard.vendor.js}"></script>

    <!-- DEMO CHARTS -->
    <script th:src="@{~/public/demo/resizeSensor.js}"></script>
    <script th:src="@{~/public/demo/chartist.js}"></script>
    <script th:src="@{~/public/demo/chartist-plugin-tooltip.js}"></script>
    <script th:src="@{~/public/demo/gd.chartist-area.js}"></script>
    <script th:src="@{~/public/demo/gd.chartist-bar.js}"></script>
    <script th:src="@{~/public/demo/gd.chartist-donut.js}"></script>
    <script>
        $.GDCore.components.GDChartistArea.init('.js-area-chart');
        $.GDCore.components.GDChartistBar.init('.js-bar-chart');
        $.GDCore.components.GDChartistDonut.init('.js-donut-chart');
    </script>
       <script>

        var player;
        var currentPlayingIdx;
        const API_Server = new URL("http://localhost:8080/");

        $(document).ready(() => {

            //ajax 통신에 성공하면 호출되는 함수 . HTMl 코드 작성 
            function successTest(result) {
                let $listUl = $("#topList");
                let liStr = "";
                result.content.forEach((ele)=> {
                    //youtube Id값으로 재생 
                    //플레이리스트는 어떤식으로 재생 ? 
                    liStr += "<li data-youtubeId=" + ele.youtubeId +" data-idx="+ ele.sid+">"+"<img src="+ele.thumbnail + "width=50 height=50>&nbsp"+ele.title+"&nbsp"+ele.singer
                    +"&nbsp<button onclick=onPlay("+ele.sid+",'add')>재생</button>"
                    +"&nbsp<button onclick=addMusic("+ele.sid+")>담기</button>" 
                    +"</li>";
                });
                $listUl.html(liStr);
            }
                //ajax 통신에 성공하면 호출되는 함수 . HTMl 코드 작성 
                function getmyPlayList(result) {
                let $listUl = $("#myList");
                let liStr = "";
                result.content.forEach((ele)=> {
                    liStr += "<li data-mode='playList' data-idKey=" + ele.youtubeId +" data-listIdx="+ ele.sid+">"+"&nbsp"+ele.title+"&nbsp"+ele.singer
                    +"&nbsp<button onclick=onPlay("+ele.sid+",'play')>재생</button>"
                    +"</li>";
                }); 
                $listUl.html(liStr);
            }

            //실패시 호출되는 함수 
            function fail(result) {
                console.log(result)
            }

            //ajax 통신으로 song table 에 있는 음악을 조회 
            //조회에 성공하면 successTest 함수를 통해 음악리스트 html 코드를 생성 
            ajaxService.getAjax(API_Server.commonURL +"songlist",null,successTest,fail);

            //로그인정보로 플레이리스트 조회 
            ajaxService.getAjax(API_Server.commonURL +"addPlayList",null,getmyPlayList,fail);
            //재생만 되는 함수 생성 . 

            //플레이리스트 함수 생성 .
            // onPlay 함수로 음악 이어가기 재생 

            function playBtn(idx){
                console.log(idx);
                onPlay(1,'play');
                return;
                console.log("currentPlayIngIdx > " + currentPlayingIdx);
                if(currentPlayingIdx != undefined ){
                    currentPlayingIdx ++ ;
                }else{
                    currentPlayingIdx = 1;
                }
            }
            
            $("#testbtn").on('click', () => {
                currentPlayingIdx = 1;
                onPlay(1,'play');
            })
        });

        function onPlay(targetIdx,mode) {

            //mode 를 매개변수로 받아서 재생목록에 있는 재생버튼에서는 추가로 담지 않습니다.
            if(mode == 'add'){
                addMusic(targetIdx);
            }
            console.log(mode);
            console.log("TARGET INDEX")
            console.log(targetIdx)
            currentPlayingIdx = targetIdx;

            //이 부분을 youtubeId 로 처음부터 조회하는것도 괜찮을듯 
            //let musicIndex = $('[data-youtubeId="' + targetId + '"').attr("data-idx");
            let youtubeId = $('[data-idx="' + targetIdx + '"]').attr("data-youtubeId");
            if (player == null || parseInt(targetIdx)==1) {
                player = new YT.Player('player', {
                    height: '240',
                    width: '320',
                    videoId: youtubeId,
                    playerVars: {
                        'controls': 1, //플레이어 컨드롤러 표시여부
                        'playsinline': 1, //ios환경에서 전체화면으로 재생하지 않게하는 옵션
                        'autoplay': 1, //자동재생 여부
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            } else {
                player.loadVideoById(youtubeId);
              }

        }
        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            console.log("영상 시작");
            event.target.playVideo();
        }

        function onPlayerStateChange(event) {
            // 재생이 종료됐으면 다음 영상을 재생한다. 
            if (player.getPlayerState() == 0) {
                console.log("영상종료");
                playNext();
            }
        }

        function playNext() {
            console.log("playNext > ");

            //플레이리스트 idx 로 이어서 재생.
            let nextPage = ++currentPlayingIdx;            
            onPlay(nextPage,'play');
        }
        function stopVideo() {
            player.stopVideo();
        }

        //재생,담기하면 플레이리스트에 저장
        function addMusic(idx){
            //ajax 호출로 PlayList Insert

            //인덱스 요소에 대해서 생각해봐야함
            var youtubeId = $('[data-idx="' + idx + '"').attr("data-youtubeId");
            var name = $('[data-idx="' + idx + '"').text();
            var sid = idx;
            let $listUl = $("#myList");
            let liStr = "";
            //playList index 값을 조회해서 최대값에 +1 을 해서 넣어준다.? DB에서 max 값을 조회해준다
            liStr += "<li data-idKey=" + youtubeId +" data-listIdx="+ sid+">" +name
            +"&nbsp<button onclick=onPlay("+sid+",'play')>재생</button>"
            +"</li>";
            $listUl.append(liStr);   
        }
    </script>
</body>


</html>