<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script src="https://www.youtube.com/player_api"></script>
    <script th:src="@{~/public/js/ajaxUtil.js}"></script>
</head>

<body>

    <button id="testbtn">클릭하면 플레이어가 보임</button>
    <br>
    <div id="testlist" class="col-ld-5">
        <ul id="topList">

        </ul>
    </div>
    <div id="myPlayList" class="col-ld-5">
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player"></div>
        <ul id="myList">

        </ul>
    </div>

    <div id="playlist">
        <h4 class="playlist-items" data-youtubeId="g8oRKbYrZ6Q" data-idx="">조정석 - 아로하</h4>
        <h4 class="playlist-items" data-youtubeId="tt2NIDtp-Ls" data-idx="">Rolling in the Deep - Adele
            (violin/cello/bass cover) -
            Simply Three</h4>
        <h4 class="playlist-items" data-youtubeId="TgOu00Mf3kI" data-idx="">IU(아이유) _ eight(에잇) (Prod.&Feat. SUGA of
            BTS)</h4>
    </div>


    

    <script>

        var player;
        var currentPlayingIdx;
        const API_Server = new URL("http://localhost:8080/");

        $(document).ready(() => {

            //ajax 통신에 성공하면 호출되는 함수 . HTMl 코드 작성 
            function successTest(result) {
                let $listUl = $("#topList");
                let liStr = "";
                result.content.forEach((ele)=> {
                    //youtube Id값으로 재생 
                    //플레이리스트는 어떤식으로 재생 ? 
                    liStr += "<li data-youtubeId=" + ele.youtubeId +" data-idx="+ ele.sid+">"+"<img src="+ele.thumbnail + "width=50 height=50>&nbsp"+ele.title+"&nbsp"+ele.singer
                    +"&nbsp<button onclick=onPlay("+ele.sid+")>재생</button>"
                    +"&nbsp<button onclick=addMusic("+ele.sid+")>담기</button>" 
                    +"</li>";
                });
                $listUl.html(liStr);
            }
                //ajax 통신에 성공하면 호출되는 함수 . HTMl 코드 작성 
                function successTest2(result) {
                let $listUl = $("#myList");
                let liStr = "";
                result.content.forEach((ele)=> {
                    liStr += "<li data-mode='playList' data-idKey=" + ele.youtubeId +" data-listIdx="+ ele.sid+">"+"&nbsp"+ele.title+"&nbsp"+ele.singer
                    +"&nbsp<button onclick=onPlay("+ele.sid+")>재생</button>"
                    +"</li>";
                }); 
                $listUl.html(liStr);
            }

            //실패시 호출되는 함수 
            function fail(result) {
                console.log(result)
            }

            //ajax 통신으로 song table 에 있는 음악을 조회 
            //조회에 성공하면 successTest 함수를 통해 음악리스트 html 코드를 생성 
            ajaxService.getAjax(API_Server.commonURL +"songlist",null,successTest,fail);

            //로그인정보로 플레이리스트 조회 
            ajaxService.getAjax(API_Server.commonURL +"addPlayList",null,successTest2,fail);
            //재생만 되는 함수 생성 . 

            //플레이리스트 함수 생성 .
            // onPlay 함수로 음악 이어가기 재생 

            function playBtn(idx){
                console.log(idx);
                onPlay(1);
                return;
                console.log("currentPlayIngIdx > " + currentPlayingIdx);
                if(currentPlayingIdx != undefined ){
                    currentPlayingIdx ++ ;
                }else{
                    currentPlayingIdx = 1;
                }
            }
            
            $("#testbtn").on('click', () => {
                currentPlayingIdx = 1;
                onPlay(1);
            })
        });

        //같은 메소드를 사용 매개변수로 mode 를 추가해 play , playList 를 구분하여 자동재생여부 판단 ?
        function onPlay(targetIdx) {
            //이부분에서 재생과 플레이리스트 재생을 나눌 수 있다면 좋을까나 ?
            let addorplay = $('[data-listidx="' + targetIdx + '"').parent("div id");
            console.log(addorplay);
            console.log("TARGET INDEX")
            console.log(targetIdx)
            currentPlayingIdx = targetIdx;

            //이 부분을 youtubeId 로 처음부터 조회하는것도 괜찮을듯 
            //let musicIndex = $('[data-youtubeId="' + targetId + '"').attr("data-idx");
            let youtubeId = $('[data-idx="' + targetIdx + '"').attr("data-youtubeId");
            if (player == null || parseInt(targetIdx)==1) {
                player = new YT.Player('player', {
                    height: '240',
                    width: '320',
                    videoId: youtubeId,
                    playerVars: {
                        'controls': 1, //플레이어 컨드롤러 표시여부
                        'playsinline': 1, //ios환경에서 전체화면으로 재생하지 않게하는 옵션
                        'autoplay': 1, //자동재생 여부
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            } else {
                player.loadVideoById(youtubeId);
              }

        }


        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            console.log("영상 시작");
            event.target.playVideo();
        }

        function onPlayerStateChange(event) {
            // 재생이 종료됐으면 다음 영상을 재생한다. 
            if (player.getPlayerState() == 0) {
                console.log("영상종료");
                playNext();
            }
        }

        function playNext() {
            console.log("playNext > ");

            //플레이리스트 idx 로 이어서 재생.
            let nextPage = ++currentPlayingIdx;            
            onPlay(nextPage);
        }
        function stopVideo() {
            player.stopVideo();
        }

        //재생,담기하면 플레이리스트에 저장
        function addMusic(idx){
            var youtubeId = $('[data-idx="' + idx + '"').attr("data-youtubeId");
            var name = $('[data-idx="' + idx + '"').text();
            var sid = idx;
            let $listUl = $("#myList");
            let liStr = "";
            //playList index 값을 조회해서 최대값에 +1 을 해서 넣어준다.? DB에서 max 값을 조회해준다
            liStr += "<li data-idKey=" + youtubeId +" data-listIdx="+ sid+">" +name
            +"&nbsp<button onclick=onPlay("+sid+")>재생</button>"
            +"</li>";
            $listUl.append(liStr);

            //ajax 호출로 PlayList Insert
        }



    </script>
</body>

</html>