<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://www.youtube.com/player_api"></script>
</head>

<body>

    <button id="testbtn">클릭하면 플레이어가 보임</button>
    <br>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <div id="playlist">
        <h4 class="playlist-items" data-youtubeId="g8oRKbYrZ6Q" data-idx="1">조정석 - 아로하</h4>
        <h4 class="playlist-items" data-youtubeId="tt2NIDtp-Ls" data-idx="2">Rolling in the Deep - Adele
            (violin/cello/bass cover) -
            Simply Three</h4>
        <h4 class="playlist-items" data-youtubeId="TgOu00Mf3kI" data-idx="3">IU(아이유) _ eight(에잇) (Prod.&Feat. SUGA of
            BTS)</h4>
    </div>

    <script>

        var player;
        var currentPlayingIdx;

        $(document).ready(() => {
            $("#testbtn").on('click', () => {
                currentPlayingIdx = 1;
                onPlay(1);
            })
        });

        function onPlay(targetIdx) {
            console.log("TARGET INDEX")
            console.log(targetIdx)

            let youtubeId = $('[data-idx="' + targetIdx + '"').attr("data-youtubeId");
            if (player == null) {
                player = new YT.Player('player', {
                    height: '240',
                    width: '320',
                    videoId: youtubeId,
                    playerVars: {
                        'controls': 1, //플레이어 컨드롤러 표시여부
                        'rel': 0, //연관동영상 표시여부 - 작동안됨 
                        'playsinline': 1, //ios환경에서 전체화면으로 재생하지 않게하는 옵션
                        'autoplay': 1, //자동재생 여부(모바일에서 작동하지 않습니다. mute설정을 하면 작동합니다.)
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            } else {
                player.loadVideoById(youtubeId);
              }

        }


        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        function onPlayerStateChange(event) {
            // 재생이 종료됐으면 다음 영상을 재생한다. 
            if (player.getPlayerState() == 0) {
                playNext();
            }
        }

        function playNext() {
            let nextPage = ++currentPlayingIdx;            
            onPlay(nextPage);
        }
        function stopVideo() {
            player.stopVideo();
        }

        
    </script>
</body>

</html>